.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 272px;
    position: relative;
    cursor: pointer;
    gap: 8px;
}

.priceContainer {
    display: flex;
    gap: 8px;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}