.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 272px;
    position: relative;
    cursor: pointer;
    gap: 8px;
    text-decoration: none;
    color: #F2F2F3;
}

.dragging {
    opacity: .5;
    border-radius: 10px;
    box-shadow:
            0 4px 32px rgba(51, 51, 255, 0.50),
            0 0 8px rgba(51, 51, 255, 0.25),
            0 0 16px rgba(51, 51, 255, 0.25);
}

.priceContainer {
    display: flex;
    gap: 8px;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}