.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #1C1C21;
    top: 0;
    left: 0;
    z-index: 3;
    width: 720px;
    min-height: 539px;
    max-height: 718px;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.20);
    box-shadow:
            0 0 1px 0 rgba(0, 0, 0, 0.04),
            0 4px 8px 0 rgba(0, 0, 0, 0.04),
            0 16px 24px 0 rgba(0, 0, 0, 0.04),
            0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #1C1C21;
    border: none;
    cursor: pointer;
}