.container {
    display: grid;
    width: 272px;
    flex-direction: column;
    gap: 8px;
    height: 152px;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    grid-template-columns: repeat(auto-fit, 80px);
}

.container::-webkit-scrollbar {
    width: 8px;
}
.container::-webkit-scrollbar-track {
    background: #2F2F37;
}
.container::-webkit-scrollbar-thumb {
    background: #8585AD;
}