.link {
    display: flex;
    text-decoration: none;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #8585AD;
}

.linkActive {
    composes: link;
    color: #F2F2F3;
}