.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 180px auto 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.linkBlock {
    display: flex;
    color: #8585AD;
    align-items: center;
    gap: 8px;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
}
