.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.status {
    display: flex;
    gap: 36px;
}

.orders {
    display: flex;
    flex-direction: column;
    width: 272px;
    gap: 24px;
    height: 206px;
    overflow: hidden;
}

.done {
    color: #00CCCC;
}

.ordersCount {
    text-shadow:
            0 4px 32px rgba(51, 51, 255, 0.50),
            0 0 8px rgba(51, 51, 255, 0.25),
            0 0 16px rgba(51, 51, 255, 0.25);
}

.orderNum {
    display: grid;
    width: 272px;
    flex-direction: column;
    gap: 8px;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    grid-template-columns: repeat(auto-fit, 80px);
}

.orderNum::-webkit-scrollbar {
    width: 8px;
}
.orderNum::-webkit-scrollbar-track {
    background: #2F2F37;
}
.orderNum::-webkit-scrollbar-thumb {
    background: #8585AD;
}