.container {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
}

.category {
    display: flex;
    flex-direction: column;
    max-height: 664px;
    overflow-y: scroll;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(auto-fit, 272px);
    text-align: center;
    gap: 32px 24px;
}

.category::-webkit-scrollbar {
    width: 8px;
}
.category::-webkit-scrollbar-track {
    background: #2F2F37;
}
.category::-webkit-scrollbar-thumb {
    background: #8585AD;
}