.header {
    background: #1C1C21;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow:
            0 0 1px 0 rgba(0, 0, 0, 0.04),
            0 4px 8px 0 rgba(0, 0, 0, 0.04),
            0 16px 24px 0 rgba(0, 0, 0, 0.04),
            0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navigations {
    display: flex;
}

